@charset "UTF-8";
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
body {
  width: 100%;
  font-size: 16px;
  font-family: "Neue Haas Grotesk Text Pro", "平成角ゴシック Std", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  background: #FFFFFF;
  color: #333333;
}

img {
  width: 100%;
}

a {
  display: inline-block;
}

.btn a {
  width: 240px;
  height: 40px;
  border: 1px solid #192F60;
  text-align: center;
  color: #192F60;
  padding: 8px 0;
  font-size: 14px;
}
.btn a:after {
  content: url(/assets/images/Icon\ awesome-caret-right\ 紺.svg);
  padding-left: 15px;
}

.header__container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 100;
  background: #FFFFFF;
}
.header__wrapper {
  display: flex;
  height: 80px;
  align-items: center;
}
.header__logo {
  width: 124px;
  height: 48px;
  margin-left: 53px;
}
.header__nav {
  width: 544px;
  height: 41px;
  display: flex;
  justify-content: space-between;
}
.header__nav_en {
  font-size: 13px;
  color: #0C162C;
}
.header__nav_ja {
  font-size: 16px;
  color: #192F60;
}
.header__nav li {
  text-align: center;
}
.header__contact {
  display: flex;
  align-items: center;
  height: 80px;
}
.header__contact_tell {
  width: 204px;
  height: 44px;
  color: #192F60;
  margin: 0 44px 0 40px;
}
.header__contact_tell_number {
  font-size: 24px;
  line-height: 1;
  font-family: Neue Haas Grotesk Text Pro;
}
.header__contact_tell_number img {
  width: 16px;
  height: 16px;
}
.header__contact_tell_number span {
  padding-left: 4px;
}
.header__contact_tell_time {
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  margin: 3px 12px 0 0;
  letter-spacing: 0.4px;
}
.header__contact_tell_time span {
  font-size: 15px;
  letter-spacing: -2px;
}
.header__contact_email {
  width: 128px;
  height: 80px;
  background: #20868A;
  color: #FFFFFF;
  text-align: center;
}
.header__contact_email img {
  width: 30px;
  margin: 13px 0 3px;
}
.header__contact_email_text {
  letter-spacing: -2px;
}

.eyecatch__container {
  position: relative;
  background: url(../images/fv-img01.png) no-repeat center center/cover;
  height: 755px;
  width: 100%;
}
.eyecatch__title-wrap {
  position: absolute;
  top: 260px;
  left: 113px;
  width: 914px;
  height: 348px;
}
.eyecatch__title-wrap h1 {
  margin: 0;
  background: #FFFFFF;
  color: #192F60;
  font-size: 60px;
  font-weight: 700;
  width: 913px;
  text-align: center;
  letter-spacing: 12px;
  line-height: 1.45;
  padding: 0 0 0 13px;
  letter-spacing: 15px;
}
.eyecatch__title-wrap h2 {
  background: #FFFFFF;
  color: #192F60;
  font-size: 60px;
  font-weight: 700;
  margin-top: 5px;
  width: 913px;
  text-align: center;
  letter-spacing: 3px;
}
.eyecatch__title-wrap p {
  color: #192F60;
  font-size: 18px;
  font-weight: 700;
  background: #FFFFFF;
  margin-top: 23px;
  width: 347px;
  line-height: 2.3;
  text-align: center;
  letter-spacing: 2.2px;
}
.eyecatch__contact {
  margin-top: 84px;
  color: #FFFFFF;
  display: flex;
}
.eyecatch__contact_tell {
  width: 240px;
  height: 56px;
  background: #192F60;
}
.eyecatch__contact_tell_number {
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  margin-top: 7px;
}
.eyecatch__contact_tell_number img {
  width: 16px;
  height: 16px;
}
.eyecatch__contact_tell_time {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  margin-right: 32px;
  letter-spacing: 0.5px;
}
.eyecatch__contact_mail a {
  background: #20868A;
  display: inline-block;
  width: 240px;
  height: 56px;
  color: #FFFFFF;
  font-size: 20px;
  margin-left: 80px;
  font-weight: 500;
  text-align: center;
  padding: 14px 0;
}
.eyecatch__contact_mail a:after {
  content: url(/assets/images/Icon\ awesome-caret-right.svg);
  padding-left: 15px;
}
.eyecatch__news {
  position: absolute;
  bottom: -54px;
  right: 0;
  width: 1253px;
  height: 80px;
  align-items: center;
  background: #FFFFFF;
  opacity: 0.9;
  display: flex;
}
.eyecatch__news_title {
  font-size: 22px;
  border-right: 1px solid #192F60;
  color: #192F60;
  padding-right: 21px;
  margin-left: 41px;
  line-height: 28px;
}
.eyecatch__news_wrap {
  display: flex;
  width: 660px;
  margin-left: 118px;
  font-size: 15px;
}
.eyecatch__news_date {
  margin-right: 32px;
}
.eyecatch__news_text {
  color: #2D2D2D;
  font-size: 16px;
}

/*スクロールダウン全体の場所*/
.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  right: 32px;
  bottom: 62px;
  /*全体の高さ*/
  height: 50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  writing-mode: vertical-rl;
  position: absolute;
  left: -13px;
  top: -54px;
  /*テキストの形状*/
  color: #eee;
  font-size: 2px;
  letter-spacing: 0.3em;
}

/* 線の描写 */
.scrolldown1::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  right: 6px;
  /*線の形状*/
  width: 1px;
  height: 30px;
  background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  -webkit-animation: pathmove 1.4s ease-in-out infinite;
          animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@-webkit-keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 50px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 70px;
    opacity: 0;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 50px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 70px;
    opacity: 0;
  }
}
.concept {
  margin-top: 93px;
  width: 100%;
  height: 1278px;
}
.concept__upper {
  position: relative;
  width: 1138.8px;
  height: 676px;
  margin: 0 auto;
}
.concept__upper_wrapper {
  z-index: -10;
  position: absolute;
  top: 120px;
  right: 0;
  width: 950px;
}
.concept__upper_wrapper_main {
  display: flex;
  justify-content: space-between;
}
.concept__upper_wrapper p {
  font-size: 14px;
  margin-top: 40px;
  margin-top: 30px;
  line-height: 1.8;
}
.concept__upper_bg-title {
  width: 343.8px;
}
.concept__upper_left img {
  width: 475px;
  height: 317px;
}
.concept__upper_right h3 {
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
  background: #192F60;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 2.9px;
}
.concept__upper_right_title-upper {
  margin-top: 40px;
  width: 460px;
}
.concept__upper_right_title {
  width: 306px;
  margin: 12px 0 0 auto;
}
.concept__upper_right_price {
  margin-top: 35px;
  font-size: 20px;
  color: #192F60;
  padding-left: 30px;
  letter-spacing: 2px;
}
.concept__upper_right_price span {
  font-size: 54px;
}
.concept__upper_btn {
  position: absolute;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
}
.concept__lower {
  margin: 80px auto 0;
  width: 100%;
  height: 522px;
  background: url(../images/bg.png) no-repeat center center/cover;
}
.concept__lower-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1138.8px;
  margin: 0 auto;
}
.concept__lower_left {
  width: 372px;
}
.concept__lower_left_subTitle {
  margin: 76px 0 0 8px;
  font-size: 20px;
  font-weight: 700;
  color: #192F60;
  letter-spacing: 2px;
}
.concept__lower_left h3 {
  margin-top: 12px;
  font-size: 28px;
  color: #FFFFFF;
  background: #192F60;
  width: 296px;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 2.4px;
}
.concept__lower_left p {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #192F60;
}
.concept__lower_right {
  width: 757px;
}
.concept__lower_right_text {
  margin-left: 30px;
  width: 447px;
}
.concept__lower_right_text h4 {
  font-size: 24px;
  font-weight: 700;
  color: #192F60;
  letter-spacing: 4px;
}
.concept__lower_right_text p {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 500;
}
.concept__lower_right_features1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 63px;
}
.concept__lower_right_features1 img {
  width: 100px;
  height: 100px;
}
.concept__lower_right_features2 {
  display: flex;
  justify-content: flex-end;
  margin: 58px 91px 0 0;
}
.concept__lower_right_features2 img {
  width: 100px;
  height: 100px;
}
.concept__lower_right_features3 {
  display: flex;
  justify-content: flex-end;
  margin: 58px 181px 0 0;
}
.concept__lower_right_features3 img {
  width: 100px;
  height: 100px;
}

.service__container {
  position: relative;
  width: 1140px;
  height: 703px;
  margin: 0 auto;
  padding-top: 80px;
}
.service__container h3 {
  font-size: 28px;
  font-weight: 700;
  background: #192F60;
  color: #FFFFFF;
  width: 443px;
  line-height: 2;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 78px;
}
.service__container p {
  font-size: 14px;
  font-weight: 500;
  width: 950px;
  margin-top: 39px;
}
.service__bg-title {
  width: 335px;
  position: absolute;
  z-index: -10;
  right: 0;
}
.service__wrapper {
  display: flex;
  width: 950px;
  margin: 40px auto 0;
}
.service__item {
  background: #FFFFFF;
  position: relative;
  width: 308px;
}
.service__item:not(:first-child) {
  margin-left: 13px;
}
.service__item_title {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  background: #FFFFFF;
  color: #192F60;
  top: 156px;
  left: 16px;
  padding: 4px 20px;
}
.service__item_title_sub {
  position: absolute;
  top: 198px;
  left: 32px;
  font-size: 11px;
  color: #192F60;
}
.service__item img {
  width: 308px;
  height: 205px;
}
.service__item p {
  width: 275px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  margin: 24px auto 0;
}
.service__item_btn {
  margin-top: 40px;
  text-align: center;
}

.work {
  position: relative;
  width: 100%;
  height: 964px;
  margin-top: 180px;
}
.work__btn {
  text-align: center;
}
.work__bg-title {
  position: absolute;
  top: 0;
  left: 0;
}
.work__bg-title img {
  width: 343.8px;
}
.work__wrapper {
  position: relative;
  width: 1140px;
  height: 525px;
  margin: 0 auto;
}
.work__wrapper_text {
  position: absolute;
  top: 60px;
  right: 8px;
  width: 950px;
}
.work__wrapper h3 {
  font-size: 28px;
  font-weight: 700;
  color: #FFFFFF;
  background: #192F60;
  width: 443px;
  line-height: 2;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 0 0 auto;
}
.work__wrapper p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 40px;
}
.work__item img {
  width: 618px;
  height: 412px;
}
.work__slider {
  position: absolute;
  top: 246px;
  left: 50%;
  transform: translateX(-50%);
  width: 1630px;
}
.work__slider_item {
  margin: -22px auto 0;
  width: 528px;
  height: 600px;
}
.work__slider_item p {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-top: 32px;
  line-height: 1.8;
}
.work__slider_item a {
  color: #192F60;
}
.work__slider_title {
  font-size: 20px;
  color: #192F60;
  font-weight: 700;
}
.work__slider_btn {
  margin-top: 40px;
  display: inline-block;
  width: 240px;
  height: 40px;
  border: 1px solid #192F60;
  text-align: center;
  padding: 8px 0;
}
.work__others-btn {
  position: absolute;
  bottom: 19px;
  background: #AEB6C7;
  width: 240px;
  height: 40px;
  left: 50%;
  padding: 8px 0;
  text-align: center;
  transform: translateX(-50%);
}
.work__others-btn a {
  color: #FFFFFF;
}

.blog {
  position: relative;
  width: 100%;
  height: 515px;
  margin: 70px auto;
  background: url(../images/blog_bg.png) no-repeat center center/cover;
}
.blog__bg-title {
  position: absolute;
  right: 113px;
}
.blog__bg-title img {
  width: 335px;
}
.blog__wrapper {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 950px;
  height: 408px;
  background: #FFFFFF;
}
.blog__item {
  margin: 0 auto;
  width: 760px;
  height: 87px;
  border-bottom: 1px solid #CACACA;
}
.blog__item_news {
  display: flex;
  justify-content: center;
  padding-top: 31px;
}
.blog__item_date {
  font-size: 16px;
  color: #2D2D2D;
}
.blog__item_text {
  font-size: 16px;
  font-weight: 300;
  color: #2D2D2D;
  margin-left: 32px;
  border-bottom: 1px solid #707070;
}

.footer {
  width: 100%;
  margin-top: 80px;
}
.footer__contact {
  background: url(../images/contact01.png) no-repeat center center/cover;
  width: 100%;
  height: 316px;
}
.footer__contact_text {
  padding-top: 76px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.footer__contact_wrapper {
  width: 560px;
  display: flex;
  justify-content: space-between;
  margin: 34px auto 0;
}
.footer__contact_tell {
  width: 240px;
  height: 56px;
  background: #192F60;
  color: #EFF1F4;
}
.footer__contact_tell_number {
  text-align: center;
  font-size: 24px;
}
.footer__contact_tell_number img {
  width: 16px;
  height: 16px;
}
.footer__contact_tell_time {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  margin-right: 32px;
}
.footer__contact_mail a {
  width: 240px;
  height: 56px;
  background: #20868A;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 11px 0;
}
.footer__contact_mail a:after {
  content: url(/assets/images/Icon\ awesome-caret-right.svg);
  padding-left: 15px;
}
.footer__lower {
  width: 100%;
  height: 221px;
  background: #192F60;
}
.footer__lower_logo {
  width: 124px;
  margin: 0 auto;
  padding-top: 40px;
}
.footer__lower_address {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin-top: 18px;
}
.footer__lower_small {
  color: #AEB6C7;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
}

.slider {
  width: 1630px;
  height: 636px;
  margin: 0 auto;
}

.slider img {
  width: 618px;
  height: 412px;
  height: auto;
}

.slider .slick-slide {
  transform: scale(0.8);
  transition: all 0.5s;
}

.slick-slide .work__slider_item {
  transform: scale(0.8);
  transition: all 0.5s;
  opacity: 0;
}

.slick-center .work__slider_item {
  transform: scale(1);
  opacity: 1;
}

.slider .slick-slide.slick-center {
  transform: scale(1);
  opacity: 1;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 30px;
  cursor: pointer;
  outline: none;
  border: 1px solid #666;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  z-index: 100;
}

.slick-prev {
  position: absolute;
  right: 386px;
  left: auto;
}

.slick-next::before {
  content: url(/assets/images/Icon\ ionic-ios-arrow-round-forward.svg);
  position: absolute;
  top: 20px;
  left: 21px;
}

.slick-prev::before {
  content: url(/assets/images/Icon\ ionic-ios-arrow-round-forward左.svg);
  position: absolute;
  top: 20px;
  left: 21px;
}

.slick-next {
  right: 282px;
}
/*# sourceMappingURL=style.css.map */